/* You can add global styles to this file, and also import other style files */
/* cyrillic-ext */
body {
    background-color: #efa352;
    margin: 0 6% auto;
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    background-image: url('./assets/backround-image/stadium2.png');
    background-position: center;
      display: block;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      background-attachment: fixed;
  }

  html {
    height: 100%;
  }