/* You can add global styles to this file, and also import other style files */
/* cyrillic-ext */
body {
    background-color: #efa352;
    margin: 0 6% auto;
    font-family: 'Montserrat', sans-serif;
    height: 100%;
  }

  html {
    height: 100%;
  }