.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card {
    margin: 0 5px 0 auto;
    padding: auto auto 0;
    background-color: transparent;
    border: 0;
}

.flexdivs {
    max-height: 255px;
}

.card-img {
 max-height: 100%;
 max-width: 100%;
 width: auto;
 height: auto;
 object-fit: fill;
 height: 100%;
}

.cboutside {
    padding: 0;
}

.row {
    margin: 0 0px 10px 0px;
}

.col {
    margin: auto 0;
    flex-basis: 100%;
    flex-grow: 1;
    display: flex;
}

.card-buttons {
    text-align: right;
    margin: 0;
}
.btn {
    padding: auto 3% 3%;
    vertical-align: text-bottom;
}

.legfrissebb {
width: 50%;
max-width: 60%;
height: 100%;
}

.tabella {
    max-width: 40%;
    height: 100%;
}


.aktiv-merkozesek {
flex-grow: 2;
width: 50%;
max-width: 60%;
height: 100%;
}

.amimg {

}

.tippelde-kupa {
    flex-grow: 1;
    max-width: 40%;
    height: 100%;
}

.tkimg {

}

.row1 {
    flex: 1;
}

.row2 {
    flex: 1;
    
}

.wrapper, html, body {
    height: 100%;
    flex-flow: column;
    display: flex;
}